In [1]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import numpy as np
import scipy.stats as ss

In [2]:
users = pd.read_csv('olist_customers_dataset.csv')
orders = pd.read_csv('olist_orders_dataset.csv')
items = pd.read_csv('olist_order_items_dataset.csv')

In [3]:
users

,customer_id,customer_unique_id,customer_zip_code_prefix,customer_city,customer_state
0,06b8999e2fba1a1fbc88172c00ba8bc7,861eff4711a542e4b93843c6dd7febb0,14409,franca,SP
1,18955e83d337fd6b2def6b18a428ac77,290c77bc529b7ac935b93aa66c333dc3,9790,sao bernardo do campo,SP
2,4e7b3e00288586ebd08712fdd0374a03,060e732b5b29e8181a18229c7b0b2b5e,1151,sao paulo,SP
3,b2b6027bc5c5109e529d4dc6358b12c3,259dac757896d24d7702b9acbbff3f3c,8775,mogi das cruzes,SP
4,4f2d8ab171c80ec8364f7c12e35b23ad,345ecd01c38d18a9036ed96c73b8d066,13056,campinas,SP
...,...,...,...,...,...
99436,17ddf5dd5d51696bb3d7c6291687be6f,1a29b476fee25c95fbafc67c5ac95cf8,3937,sao paulo,SP
99437,e7b71a9017aa05c9a7fd292d714858e8,d52a67c98be1cf6a5c84435bd38d095d,6764,taboao da serra,SP
99438,5e28dfe12db7fb50a4b2f691faecea5e,e9f50caf99f032f0bf3c55141f019d99,60115,fortaleza,CE
99439,56b18e2166679b8a959d72dd06da27f9,73c2643a0a458b49f58cea58833b192e,92120,canoas,RS
99440,274fa6071e5e17fe303b9748641082c8,84732c5050c01db9b23e19ba39899398,6703,cotia,SP

In [ ]:
orders.groupby('order_status', as_index = False).order_id.count().sort_values('order_id')

In [ ]:
orders.order_approved_at.isna().sum()

In [ ]:
orders.query('order_status == "delivered"')

In [ ]:
items

В рамках данного проекта завершенной покупкой будут считаться только те заказы, что были уже доставлены пользователю

Обоснование: на любом из возможных статусов доставки возможна его отмена, что можно подтвердить тем фактом, что количество неплаченных счетов не совпадает с количеством отмененных заказов, а значительно ниже. Таким образом, можно гарантированно говорить, что отмененным точно не считается заказ, который не был оплачен

В то же время, опираясь на эмпирический опыт, я не могу назвать отказ от товара уже после доставки его отменой, ибо чаще всего подобное называют возвратом

Датой создания заказа я буду принимать время подтверждения оплаты заказа, т.к. после подтверждения оплаты обе стороны подтверждают формирование заказа, а статус "доставлено" уже подтвердит завершение сделки

# Задание 1

In [ ]:
user_true_id = users.drop(['customer_zip_code_prefix', 'customer_city', 'customer_state'], axis = 1)

In [ ]:
orders_with_id = orders.merge(user_true_id, how = 'left')

In [ ]:
orders_with_id.query('order_status == "delivered"').customer_unique_id.nunique()

In [ ]:
orders_with_id.query('order_status == "delivered"').groupby('customer_unique_id', as_index = False).order_id.count().query('order_id == 1')

Результаты: всего уникальных пользователей, до которых был доставлен товар, было 93358, а из них **90557** сделали только 1 заказ

# Задание 2

In [ ]:
orders.order_delivered_customer_date = pd.to_datetime(orders.order_delivered_customer_date)
orders.order_estimated_delivery_date = pd.to_datetime(orders.order_estimated_delivery_date)

In [ ]:
orders['month_of_delivery'] = orders.order_estimated_delivery_date.dt.month
orders['year_of_delivery'] = orders.order_estimated_delivery_date.dt.year

In [ ]:
orders['not_delivered'] = orders.apply(lambda x: 0 if x.order_status == 'delivered' else 1, axis=1)

In [ ]:
orders.groupby(['year_of_delivery', 'month_of_delivery', 'order_status'], as_index = False).not_delivered.sum()\
    .groupby('order_status', as_index = False).not_delivered.mean()

По итогу анализа получены следующие результаты. В среднем в месяц по причине *отмены заказа* не доставляются приблизительно **24.04 заказа**, из-за *недоступности* - **29 заказов**, остальные же заказы не были доставлены на различных этапах формирования и доставки заказа

# Задание 3

In [ ]:
orders.order_approved_at = pd.to_datetime(orders.order_approved_at)

In [ ]:
orders['day_of_a_week'] = orders.order_approved_at.dt.dayofweek + 1 #Добавил единицу для удобства глазу, понедельник с номером 0 тяжело воспринимать

In [ ]:
orders_with_items = orders.merge(items,how = 'outer')

In [ ]:
orders_with_items.groupby('product_id', as_index = False).day_of_a_week.max()

# Задание 4

In [ ]:
orders_with_id.order_delivered_customer_date = pd.to_datetime(orders_with_id.order_delivered_customer_date)
orders_with_id.order_approved_at = pd.to_datetime(orders_with_id.order_approved_at)
orders_with_id.order_estimated_delivery_date = pd.to_datetime(orders_with_id.order_estimated_delivery_date)

In [ ]:
orders_with_id['day_of_a_week'] = orders_with_id.order_approved_at.dt.dayofweek + 1
orders_with_id['month'] = orders_with_id.order_approved_at.dt.month
orders_with_id['year'] = orders_with_id.order_approved_at.dt.year
orders_with_id['weeks_in_month'] = orders_with_id.order_approved_at.dt.daysinmonth / 7

In [ ]:
orders_per_month = orders_with_id.query('order_status == "delivered"').groupby(['customer_unique_id','year', 'month', 'weeks_in_month'], as_index = False).order_id.count()

In [ ]:
orders_per_month['orders_per_week'] = orde rs_per_month.order_id / orders_per_month.weeks_in_month

In [ ]:
orders_per_month = orders_per_month.drop(['weeks_in_month', 'order_id'], axis = 1)

In [ ]:
orders_per_month.sort_values('orders_per_week', ascending = False)

In [ ]:
plt.figure(figsize = (16,9))

sns.histplot(orders_per_month.sort_values('orders_per_week', ascending = False), x = customer_unique_id, y = orders_per_week)

# Задание 5

In [8]:
aboba = orders.merge(users[['customer_id', 'customer_unique_id']], how = 'left', on = 'customer_id')

In [10]:
aboba.order_approved_at = pd.to_datetime(aboba.order_approved_at)

In [13]:
aboba_first = aboba.groupby('customer_unique_id', as_index = False).order_approved_at.min()
aboba_last = aboba.groupby('customer_unique_id', as_index = False).order_approved_at.max()

In [16]:
aboba_first = aboba_first.rename(columns = {'order_approved_at': 'first_order'})

In [18]:
aboba_first.head()

                 customer_unique_id         first_order
0  0000366f3b9a7992bf8c76cfdf3221e2 2018-05-10 11:11:18
1  0000b849f77a49e4a4ce2b2a4ca5be3f 2018-05-07 18:25:44
2  0000f46a3911fa3c0805444483337064 2017-03-10 21:05:03
3  0000f6ccb0745a6a4b88665a16c9f078 2017-10-12 20:49:17
4  0004aac84e0df4da2b147fca70cf8255 2017-11-14 20:06:52

In [17]:
aboba_last = aboba_last.rename(columns = {'order_approved_at': 'last_order'})

In [19]:
aboba = aboba.merge(aboba_first, how = 'left', on = 'customer_unique_id').merge(aboba_last, how = 'left', on = 'customer_unique_id')

In [20]:
aboba.head()

,order_id,customer_id,order_status,order_purchase_timestamp,order_approved_at,order_delivered_carrier_date,order_delivered_customer_date,order_estimated_delivery_date,customer_unique_id,first_order,last_order
0,e481f51cbdc54678b7cc49136f2d6af7,9ef432eb6251297304e76186b10a928d,delivered,2017-10-02 10:56:33,2017-10-02 11:07:15,2017-10-04 19:55:00,2017-10-10 21:25:13,2017-10-18 00:00:00,7c396fd4830fd04220f754e42b4e5bff,2017-09-04 11:43:25,2017-10-02 11:07:15
1,53cdb2fc8bc7dce0b6741e2150273451,b0830fb4747a6c6d20dea0b8c802d7ef,delivered,2018-07-24 20:41:37,2018-07-26 03:24:27,2018-07-26 14:31:00,2018-08-07 15:27:45,2018-08-13 00:00:00,af07308b275d755c9edb36a90c618231,2018-07-26 03:24:27,2018-07-26 03:24:27
2,47770eb9100c2d0c44946d9cf07ec65d,41ce2a54c0b03bf3443c3d931a367089,delivered,2018-08-08 08:38:49,2018-08-08 08:55:23,2018-08-08 13:50:00,2018-08-17 18:06:29,2018-09-04 00:00:00,3a653a41f6f9fc3d2a113cf8398680e8,2018-08-08 08:55:23,2018-08-08 08:55:23
3,949d5b44dbf5de918fe9c16f97b45f8a,f88197465ea7920adcdbec7375364d82,delivered,2017-11-18 19:28:06,2017-11-18 19:45:59,2017-11-22 13:39:59,2017-12-02 00:28:42,2017-12-15 00:00:00,7c142cf63193a1473d2e66489a9ae977,2017-11-18 19:45:59,2017-11-18 19:45:59
4,ad21c59c0840e6cb83a9ceb5573f8159,8ab97904e6daea8866dbdbc4fb7aad2c,delivered,2018-02-13 21:18:39,2018-02-13 22:20:29,2018-02-14 19:46:34,2018-02-16 18:17:02,2018-02-26 00:00:00,72632f0f9dd73dfee390c9b22eb56dd6,2018-02-13 22:20:29,2018-02-13 22:20:29

In [23]:
aboba['days_in_app'] = (aboba.last_order - aboba.first_order).dt.days

In [27]:
aboba[['customer_unique_id', 'days_in_app']].drop_duplicates().sort_values('days_in_app', ascending = False).head()

                     customer_unique_id  days_in_app
55985  32ea3bdedab835c3aa6cb68ce66565ef        629.0
15     ccafc1c3f270410521c3c6f3b249870f        613.0
41284  d8f3c4f441a9b59a29f977df16724f38        582.0
4606   94e5ea5a8c1bf546db2739673060c43f        579.0
33899  87b3f231705783eb2217e25851c0a45d        571.0